#root {
  text-align: center;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  width: 100%;
}
html {
  height: 100%;
}
body {
  background: goldenrod;
  height: 100%;
  width: 100%;
}
